.image {
  height: 300px;
  width: 200px; }

.part0 {
  float: right; }

.part1 {
  float: left; }

.part2 {
  text-align: center;
  clear: both; }

h1 {
  font-family: fantasy;
  color: #FFD700; }

body {
  background-color: lightgrey; }

h2 {
  color: red; }
